@model DucksOnThePond.Core.Player
@using DucksOnThePond.Helpers

@{
    ViewBag.Title = "Player Entry Form";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<div>
    <p>@Html.ActionLink("Back To Team Roster", "Index", "Roster")</p>
    <fieldset>
            @using (Html.BeginForm(""))
            {
                <div>
                    <div class="editor-label">
                        @Html.LabelFor(player => player.Name)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(player => player.Name)
                        @Html.ValidationMessageFor(player => player.Name)
                    </div>
                </div>
                <div>
                    <div class="editor-label">
                        @Html.LabelFor(player => player.Number)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(player => player.Number)
                        @Html.ValidationMessageFor(player => player.Number)
                    </div>
                </div>
                <div>
                    <div class="editor-label">
                        @Html.LabelFor(player => player.Positions)
                    </div>
                    <div class="positions">
                        @Html.CheckBoxListForEnum(player => player.Positions)
                    </div>
                </div>
                <p><input type="submit" value="Submit Details" /></p>
            }
    </fieldset>
</div>
